#ignore these directories

#always ignore
slurm*
tools
databases

#results
results/bactofidia*
results/busco_output
results/panaroo_output/*
!results/panaroo_output/final_graph.gml
!results/panaroo_output/gene_presence_absence.Rtab
