#ignore these directories

#always ignore
slurm*
tools
databases

#results
results/bactofidia*
results/*predictions
results/busco_output
results/raw_reads
results/*scripts
results/strains_to_be_assembled.txt

results/plasmidome_ST131/*.fasta
results/plasmidome_ST131/annotations
results/plasmidome_ST131/prokka_scripts
results/plasmidome_ST131/panaroo_output/*
!results/plasmidome_ST131/panaroo_output/gene_presence_absence.Rtab

results/plasmidome_all/*
!results/plasmidome_all/panaroo_output
results/plasmidome_all/panaroo_output/*
!results/plasmidome_all/panaroo_output/gene_presence_absence.Rtab

results/panaroo_output_ST131/*
!results/panaroo_output_ST131/final_graph.gml
!results/panaroo_output_ST131/gene_presence_absence.Rtab
!results/panaroo_output_ST131/all_snp_dists.tsv
!results/panaroo_output_ST131/ST131_tree.newick

results/panaroo_output_all/*
!results/panaroo_output_all/gene_presence_absence.Rtab
!results/panaroo_output_all/nj_snp_tree.newick
!results/panaroo_output_all/RAxML_bestTree.ml_tree
!results/panaroo_output_all/RAxML_bipartitions.bootstrap_tree

results/blast_fimH/*
!results/blast_fimH/all_fimH_types.csv

results/clermontyping_output/*
!results/clermontyping_output/clermontyping_output_phylogroups.txt
