
slurm*
results/*
!results/*.csv
!results/*.tsv

!results/shortread_assemblies_bactofidia/
results/shortread_assemblies_bactofidia/*
!results/shortread_assemblies_bactofidia/*.txt

scripts/gzip_scripts
