#ignore these directories and files

#always ignore these:
slurm*
tools
databases

#plasmid reconstuction
plasmid_reconstruction/results/ST131/*
!plasmid_reconstruction/results/ST131/quast_statistics/

plasmid_reconstruction/results/Ecoli/*
!plasmid_reconstruction/results/Ecoli/quast_statistics/

#binary classifiers
binary_classifiers/results/*
!binary_classifiers/results/*.csv
!binary_classifiers/results/*.txt

#analysis
analysis/scripts/*.png
